<!DOCTYPE html>

<html>
    <head>
        <title> login-mdip </title>
    </head>

    <body>
        
        <form action="accesslogin" method="POST">
            <label for="loggin"> Registro </label>
            <p> <center> <input type="email"  placeholder="email@access.com" required/> </center></p>            

            <label for="password"> Password </label>

            <p> <center> <input type="password" placeholder="password" required></center>
               
                
            <button type="submit" class="getresponse"> <span class="send"> Iniciar </span> </button>
        </form>
        <br>
    </body>

</html>
        

