<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="wrap">

        <p><center>FINDER-BETA</center></p>
        
        <!--top menu latest-->
        <div class="barside">




        </div>
        <form action="find" method="POST">
            <input type="text" name="finder" value="search" class="findertest" style="--btr:#00ff8c" />
        </form>

    </div>

    
    <p>xxxdfdfdsdsds</p>
    <p>xxxdfdfdsdsds</p>
</body>
</html>